.sec2{
    background-color: white;
    font-family: 'Inconsolata', sans-serif;
}
.sec2_empty{
    background-color: #471111;
    width: 270px;
    height: 260px;
    margin-top: 100px;
    position: absolute;
}
.sec2_img{
    position: relative;
    height: 300px;
    width: 250px;
    margin-left: 10px;
    margin-top: 50px;
}
.sec2_whole{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sec3{
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.sec4{
    background-color: white;
}
.movies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0;
}
.sec5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec5_input{
    padding:10px;
    width: 400px;
    margin-top: 30px;
    background: rgba(71, 17, 17, 0.05);
    border: 1px solid gray;
}
.sec5_input1{
    padding:10px;
    width: 400px;
    margin-top: 10px;
    background: rgba(71, 17, 17, 0.05);
    border: 1px solid gray;
}
@media (max-width: 700px){
    .sec2_whole{
        flex-direction: column;
    }
    .tundeimg{
        display: flex;
        justify-content: center;
    }
    .aboutme{
        margin-left: 20px;
        width: 390px !important;
    }
    .about_words{
        width:390px;
    }
    .movies{
        flex-direction: column;
    }
    .tundemovies{
        margin-top: 20px;
    }
}
@media (max-width: 900px){
    .sec2_whole{
        flex-direction: column;
    }
    .tundeimg{
        display: flex;
        justify-content: center;
    }
    .aboutme{
        margin-left: 30px;
        width: 100% !important;
    }
    .about_words{
        width:100%;
    }
    .movies{
        flex-direction: column;
    }
    .tundemovies{
        margin-top: 20px;
        width: 90%;
        margin-left: 5%;
    }
    .tundemovies2{
        width: 90%;
        margin-left: 5%;
    }
}