.sec2{
    background-color: white;
    font-family: 'Inconsolata', sans-serif;
}
.sec2_empty{
    background-color: #471111;
    width: 250px;
    height: 260px;
    margin-top: 100px;
    position: absolute;
}
.sec2_img{
    position: relative;
    height: 300px;
    width: 230px;
    margin-left: 15px;
    margin-top: 50px;
}
.sec2_whole{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sec3{
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.sec4{
    background-color: white;
}
.movies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sec5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxthi{
    width: 467.85px;
    height: 440px;
    background-image: url("./movies.png");
    border-radius: 10px;
    margin-left: 15px;
    position: relative;
    top: -95px;
    overflow: hidden;
    margin: 120px 0 0 0;
}
.boxthi1{
    width: 467.85px;
    height: 440px;
    background-image: url("./music.png");
    border-radius: 10px;
    margin-left: 15px;
    position: relative;
    top: -95px;
    overflow: hidden;
    margin: 120px 0 0 0;
}
.boxthi:hover > .hidden_boxthi{
    top: 0;
  }
  .boxthi1:hover > .hidden_boxthi1{
    top: 0;
  }
.hidden_boxthi{
    top: 100%;
  position: relative;
  transition: all .3s ease-out;
  background: #471111d3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden_boxthi1{
    top: 100%;
  position: relative;
  transition: all .3s ease-out;
  background: rgba(128, 128, 128, 0.89);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.tranword{
    color: white;
    font-size: 25px;
}
.languages{
    text-align: center;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.8);
}
.sec5_input{
    padding:10px;
    width: 400px;
    margin-top: 30px;
    background: rgba(71, 17, 17, 0.05);
    border: 1px solid gray;
}
.sec5_input1{
    padding:10px;
    width: 400px;
    margin-top: 10px;
    background: rgba(71, 17, 17, 0.05);
    border: 1px solid gray;
}
@media (max-width: 700px){
    .sec2_whole{
        flex-direction: column;
    }
    .tundeimg{
        display: flex;
        justify-content: center;
    }
    .aboutme{
        margin-left: 20px;
        width: 390px !important;
    }
    .about_words{
        width:390px;
    }
    .movies{
        flex-direction: column;
    }
    .boxthi{
        width: 380px;
        margin: 85px auto ;
    }
    .boxthi1{
        width: 380px;
        margin: 45px auto ;
    }
    .tundemovies{
        margin-top: 20px;
    }
}
@media (max-width: 900px){
    .sec2_whole{
        flex-direction: column;
    }
    .tundeimg{
        display: flex;
        justify-content: center;
    }
    .aboutme{
        margin-left: 30px;
        width: 100% !important;
    }
    .about_words{
        width:100%;
    }
    .movies{
        flex-direction: column;
    }
    .boxthi{
        margin: 85px auto ;
    }
    .boxthi1{
        margin: 45px auto ;
    }
    .tundemovies{
        margin-top: 20px;
        width: 90%;
        margin-left: 5%;
    }
    .tundemovies2{
        width: 90%;
        margin-left: 5%;
    }
}